html{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    background: transparent;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,4,73,1) 100%);
    }
#indexnames{
    text-align: center;
    margin: 10px;
}
#createnames{
    margin: 10px;
}
.dark-bg .dropdown-item {
    color: #ffffff; /* White text color */
  }
